In [11]:
# importing the necessary libraries
import pandas as pd

In [12]:
df = pd.read_csv('london_merged.csv') # reading the dataset

In [13]:
df.head() # displaying the first 5 columns

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [14]:
df.shape # no of rows and columns

(17414, 10)

In [15]:
df.info() # checking the data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [16]:
df['weather_code'].value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [17]:
df['season'].value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [18]:
df = df.rename(columns = {'timestamp':'time','cnt':'count','t1':'real temp_c','t2':'temp feels like_c','hum':'humidity percent','wind_speed':'wind speed kph','weather_code':'weather'})
# renaming the columns names for better understanding

In [19]:
df.head()

,time,count,real temp_c,temp feels like_c,humidity percent,wind speed kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [20]:
df['humidity percent'] = df['humidity percent']/100    # humidity values lie between 0 and 1

In [21]:
df['season'].value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [22]:
# replacing the seasons columns with appropriate seasons
df['season'] = df['season'].replace({0.0:'spring',1.0:'summer',2.0:'autumn',3.0:'winter'})

In [23]:
df['weather'].value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather, dtype: int64

In [25]:
df['weather'] = df['weather'].replace({1.0:'clear',2.0:'scattered clouds',3.0:'broken clouds',7.0:'rain',4.0:'cloudy',26.0:'snowfall',10:'rain with thunderstorm'})

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  object
 1   count              17414 non-null  int64
 2   real temp_c        17414 non-null  float64
 3   temp feels like_c  17414 non-null  float64
 4   humidity percent   17414 non-null  float64
 5   wind speed kph     17414 non-null  float64
 6   weather            17414 non-null  object
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [28]:
df.to_excel('london_bikes_pre-processed.xlsx',sheet_name='Data')